* {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #111;
  color: white;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3.5em;
  letter-spacing: 5px;
}

h2 {
  font-weight: 300;
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: 1em;
}

a {
  border-left: 3px solid #CCC;
  padding: 0.5em 1em;
  color: #CCC;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  margin-top: 1em;
  transition: all 0.1s ease-in-out;
}

a:hover {
  border-color: #FFF;
  color: #FFF;
}

.preview {
  flex-grow: 1;
  flex-basis: 0;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.preview-image {
  background: url('img/phone.png') no-repeat right center;
  background-size: contain;
  max-height: 720px;
  margin-right: 40px;
  flex-grow: 1;
}

.info {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  body {
    display: block;
  }

  .preview {
    height: 100%;
    box-sizing: border-box;
  }

  .preview-image {
    margin: 0;
    background-position-x: center;
  }

  .info {
    justify-content: flex-start;
    padding-left: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 720px){
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.3em;
  }
}

@media screen and (max-height: 500px){
  .preview {
    padding: 10px 0;
  }

  .info {
    padding-top: 20px; 
  }
}